@import "_header";

//@mixin name {
    
//}
h1{
    color:white;
}
body{
    font-size: 20px;
    div{
    font-size: 10px;

    }
}
.wrapper {

    &__item {
    }

    &__ {
    }
}

.wrapper {
}
.wrapper__item {
}
.wrapper__ {
}

.example1{
    color: blueviolet;
}